body{
    overflow: hidden;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
}

.text{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 20%;
    top: 30%;
}
.text h1{
    font-size: 2.7rem;
    color: white;
    width: 40%;
}

.text p{
    color: white;
    width: 45%;
}
.main
{
    height: 27rem;
    width: 30rem;
    display: flex;
    background-color: white;
    position: absolute;
    right: 10%;
    bottom: 15%;
    border-radius: 5px;
    flex-direction: column ;
    box-shadow: 0px 6.5px  rgba(71, 67, 67, 0.212);
}

input::placeholder{
    color: rgb(126, 123, 123);
}

.row0
{
    border: none;
    color: white;
    border-color: hsl(248, 32%, 49%);
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    position: relative;
    bottom: 18%;
    height: 3.2rem;
    width: 30rem;
    box-shadow: 0px 6.5px  rgba(71, 67, 67, 0.212);
    
}
.row1
{
    text-indent: 30px;
    caret-color:hsl(248, 32%, 49%);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(226, 219, 219);
    border-radius: 5px;
    position: relative;
    bottom: 3%;
    left: 6%;
    height: 3rem;
    width: 26rem;
    margin-bottom: 1.3rem;
    outline-color:hsl(246, 40%, 76%) ;
}
.row2
{
    text-indent: 30px;
    caret-color:hsl(248, 32%, 49%);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(226, 219, 219);
    border-radius: 5px;
    position: relative;
    bottom: 3%;
    left: 6%;
    height: 3rem;
    width: 26rem;
    margin-bottom: 1.3rem;
    outline-color:hsl(246, 25%, 77%) ;
}
.row3
{
    text-indent: 30px;
    caret-color:hsl(248, 32%, 49%);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(226, 219, 219);
    border-radius: 5px;
    position: relative;
    bottom: 3%;
    left: 6%;
    height: 3rem;
    width: 26rem;
    margin-bottom: 1.3rem;
    outline-color:hsl(246, 25%, 77%) ;
}
.row4
{
    text-indent: 30px;
    caret-color:hsl(248, 32%, 49%);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(226, 219, 219);
    border-radius: 5px;
    position: relative;
    bottom: 3%;
    left: 6%;
    height: 3rem;
    width: 26rem;
    margin-bottom: 1.3rem;
    outline-color:hsl(246, 25%, 77%) ;
}
.row5
{
    color: white;
    border-color: hsl(154, 53%, 49%);
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    position: relative;
    bottom: 3%;
    left: 6%;
    height: 3rem;
    width: 26rem;
    margin-bottom: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.row0 h4{
    font-size: small;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 6.8rem;
    top: -4%;
}
.row0 span{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: rgb(243, 236, 236);
    font-weight:lighter;
    left: 4.5rem;
    width: 15rem;
}

.text-main{
    position: absolute;
    right: 14.8%;
    bottom: 19%;
    font-size: x-small;
    font-family: 'Poppins', sans-serif;
    color: rgb(207, 199, 199);
}

.text-main span{
    color: red;
}

