/* Header */

header {
    background-image: url('../images/ContactUs/contactus.jpg');
}

/* Main */
main h1 {
    text-align: center;
    font-size: 35px;
    color: #f13a3a;
}

.main-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.main-line {
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 20px;
}

.left-section p {
    padding-right: 7px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
}

/* Main section */
.right-section {
    display: flex;
    flex-direction: column;
}

.form-line {
    font-size: 23px;
    text-decoration: underline;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

/* Form */
.main{
    width: 100%;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 6.5px  rgba(71, 67, 67, 0.212);
}

input::placeholder{
    color: rgb(126, 123, 123);
}

.row {
    display: block;
    border: 0.5px solid rgb(226, 219, 219);
    border-radius: 5px;
    height: 3.5rem;
    width: 90%;
    margin: 15px auto;
    outline-color:hsl(246, 40%, 76%);

    caret-color:hsl(248, 32%, 49%);
}

#first-name, #last-name, #email, #content {
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#content {
    min-height: 100px;
    resize: vertical;
}

.text-main {
    text-align: center;
    margin: 7px 0px;
}

.text-main span{
    color: red;
}

#button {
    background-color: black;
    color: white;
    cursor: pointer;
}

@media all and (min-width: 800px) {
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-section {
        width: 35%;
    }

    .right-section {
        width: 60%;
    }

    .msg {
        width: 25%;
        text-align: center;
    }
}