body{
    background-color: hsl(0, 0%, 0%);
}

/* Header */
.nav-items {
    margin-right: 5px;
}

.nav-links {
    font-weight: 400;
}

#contact-header {
    background-image: none;
    height: 10vh;
}

.container {
    padding: 0px;
}

/* Main */
main {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.register h1{
    color: #f13a3a;
    font-size: 72px;
}

.register span {
    color: white;
}

.main-line {
    font-size: 30px;
    color: #f13a3a;
    margin: 20px 0px;
}

.left-section p {
    margin: 30px 0px;
    padding-right: 7px;
    color: white;
    font-size: 25px;
    line-height: 30px;
}

/* Main section */
.right-section {
    display: flex;
    flex-direction: column;
}

.form-line {
    font-size: 23px;
    color: white;
    background-color: #f13a3a;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

/* Form */
.main{
    width: 100%;
    margin: auto auto;

    display: flex;
    flex-direction: column;
    border: solid #f13a3a;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 6.5px  rgba(71, 67, 67, 0.212);
}

input::placeholder{
    color: rgb(126, 123, 123);
}

.row {
    display: block;
    border: 0.5px solid rgb(226, 219, 219);
    border-radius: 5px;
    height: 3.5rem;
    width: 90%;
    margin: 15px auto;
    outline-color:hsl(246, 40%, 76%);

    caret-color:hsl(248, 32%, 49%);
}

#first-name, #last-name, #email, #password {
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.text-main {
    text-align: center;
    margin: 7px 0px;
}

.text-main span{
    color: red;
}

#button {
    background-color: black;
    color: white;
    cursor: pointer;
}

@media all and (min-width: 800px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }

    .left-section {
        width: 50%;
    }

    .right-section {
        width: 45%;
    }

    .msg {
        width: 25%;
        text-align: center;
    }
}