* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Animations */
@keyframes scaleUpAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/* Header */

/* Nav-Bar */
.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 71, 71);

    padding: 1.25rem;
}

.logo {
    color: white;
}

.logo:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-out;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-items {
    display: inline-block;
}

.nav-links {
    text-decoration: none;
    color: white;
    margin: 7px;
    font-size: 1.25rem;
}

.nav-links:hover {
    text-decoration: underline;
}

/* Main Image */

.main-image {
    width: 90vw;
    height: 80vh;

    margin: 7px auto;

    background-image: url('../images/main-image.jpg');
    background-size: cover;
    background-position: center;
}

.center-text {
    position: relative;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    top: 40%;
}

.center-text button {
    padding: 10px 25px;
    border: none;
    background-color: rgb(161, 31, 57);
    color: aliceblue;
    border-radius: 45px;
    cursor: pointer;
}

.center-text button:hover {
    animation: scaleUpAnimation 1s ease-in;
}

/* Footer */

.main-footer {
    color: white;
    padding: 15px;
    background-color: rgb(71, 71, 71);
    text-align: center;
}

.main-footer h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.icons {
    margin: 7px;
}