* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Animations */
@keyframes scaleUpAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/* Header */

/* Nav-Bar */
header {
    height: 80vh;

    background-image: url('../images/Home/main-image.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    padding: 1.25rem;

    justify-content: space-between;
}

.logo {
    margin-top: -25px;
    width: 100px;
    height: 100px;

    background-image: url('../images/logo/logo.png');
    background-size: cover;
    background-position: center;
}

.logo:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-out;
}

.nav-bar {
    justify-items: flex-end;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-items {
    display: inline-block;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 7px;
    font-size: 1.45rem;
}

.nav-links:hover {
    text-decoration: underline;
}

.center-text {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    font-size: 1.5em;
    margin-top: 7rem;
    font-style: italic;
}

.center-text button {
    padding: 15px 45px;
    border: none;
    background-color: rgba(195, 45, 75, 0.85);
    color: aliceblue;
    border-radius: 45px;
    cursor: pointer;
}

.center-text button:hover {
    animation: scaleUpAnimation 1s ease-in;
}

/* Footer */

.main-footer {
    color: white;
    padding: 15px;
    background-color: rgb(158, 94, 94);
    text-align: center;
}

.main-footer h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.social-media {
    display: flex;
    justify-content: center;
}

.icons {
    margin: 7px;
}