* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Animations */
@keyframes scaleUpAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/* Header */

/* Nav-Bar */
header {
    height: 85vh;

    background-image: url('../images/Home/mainImage.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    padding: 1.25rem;

    justify-content: space-between;
}

.logo {
    margin-top: -25px;
    width: 100px;
    height: 100px;

    background-image: url('../images/logo/logo.png');
    background-size: cover;
    background-position: center;
}

.logo:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-out;
}

.nav-bar {
    justify-items: flex-end;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-items {
    padding: 17px 0px;
    display: inline-block;
    vertical-align: bottom;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    font-size: 1.45rem;
}

.nav-links:hover {
    text-decoration: underline;
    color: rgb(211, 86, 86);;
}

.center-text {
    text-transform: uppercase;
    color: rgb(211, 86, 86);
    text-align: center;
    font-size: 1.5em;
    margin-top: 7rem;
    margin: 5rem auto;
    width: 80%;
}

.main-image span{
    color: white;
}

.main-image h1{
    color: rgb(206, 55, 55);
}

.btn-red {
    padding: 15px 45px;
    border: none;
    background-color: rgba(195, 45, 75, 0.85);
    color: aliceblue;
    border-radius: 45px;
    cursor: pointer;
}

#reg-btn {
    padding: 10px 40px 7px 40px;
    font-size: 15px;
}

.btn-red:hover {
    animation: scaleUpAnimation 1s ease-in;
}

/* Main */

main {
    width: 90%;
    margin: 25px auto;
}

.quote {
    background-color: lightgray;
}

.quote-text {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 20px 30px;
}

.quote-text span {
    display: block;
    text-align: right;
    margin: 5px 10px 0px 0px;
}

.sections {
    margin: 45px 0px;
}

.sections h1 {
    color: rgb(151, 28, 28);
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 7px 0px;
}

.sections p {
    font-size: 20px;
    line-height: 30px;
}

.social-media {
    margin: 25px 0px;
}

.icons {
    margin: 10px;
}

.icons:hover {
    cursor: pointer;
    animation: scaleUpAnimation 2s ease-in-out;
}

/* Footer */

.main-footer {
    color: white;
    padding: 15px;
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.main-footer h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    color: black;
}


@media all and (min-width: 900px) {
    #ourMission {
        display: flex;
        flex-direction: row;
    }
    
    .left-side-text {
        width: 55%;
    }

    .left-side-text h1 {
        text-align: left;
    }
    
    .right-side-image {
        border-radius: 10px;
        width: 45%;
        background-image: url('../images/Home/ourMission.jpg');
        background-position: center;
        background-size: cover;
    }
}