* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

/* Nav-Bar */
.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
}

.logo {
    color: rgb(255, 255, 255);
}

.logo:hover {
    cursor: pointer;
    animation: logoAnimation 2s ease-out;
}

.nav-bar ul {
    list-style-type: none;
}

.nav-items {
    display: inline-block;
}

.nav-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 1.5rem;
    font-size: 1.25rem;
}

.nav-links:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

@keyframes logoAnimation {
    0% {transform: scale(1);}
    50% {transform: scale(1.15);}
    100% {transform: scale(1);}
}

/* Main Image */

.main-image {
    width: 100vw;
    height: 70vh;
    background-image: url('../images/wrtingcode.jpg');
    background-position: center;
    background-size: cover;
}


.main-image h1 {
    text-transform: uppercase;
    border: solid red 2px;
    color: rgb(243, 89, 89);
    text-align: center;
    font-size: 2rem;
}

.main-image span{
    color: white;
}
